*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/**Geral**/
body{
    background-color: #c2c2c2;
}

#container{
    margin: 0 70px;
    padding: 10px 0;
}

.btn-vermelho{
    width: 328px;
    height: 77px;
    color:#ffffff;
    font-family: "Russo One", sans-serif;
    font-size: 29px;
    background-color: #fa4516;
    text-decoration: none;
    text-align: center;
    border-radius: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn-preto{
    width: 290px;
    height: 45px;
    display: flex;
    flex-direction: row;
    font-family: "Saira", sans-serif;
    font-size: 36px;
    color: #c2c2c2;
    font-weight: 400;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.btn-vermelho:hover{
    transform: scale(1.1);
}

.a{
    width: 45px;
    height: 45px;
}

/** Cabeçalho **/
#topo{
    background-color: aliceblue;
    background-image: url(imagens/banner.png);
    width:100%;
    height: 703px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.lista{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.lista a{
    font-family: "Russo One", sans-serif;
    list-style: none;
    color: #fa4516;
    text-decoration: none;
    font-size: 32px;
}

.lista li:hover{
    transform: scale(1.1);
}

.banner .chamada{
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5%;
}

.chamada img{
    width: 381px;
    height: 88px;
    display: flex;
    justify-content: flex-start;
}

.chamada h2{
    color: #c2c2c2;
    font-family: "Saira", sans-serif;
    font-size: 64px;
    text-align: left;
    font-weight: 400;
}

.chamada span{
    color: #fa4516;
}

/**Quadro 1**/
.quadro1{
    height: auto;
    width: 100%;
}

.texto-de-chamada{
    height: auto;
    width: 100%;
    display: flex;
    margin: 30px 0;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.texto-de-chamada img{
    height: 427px;
    width: 628px;
}

.texto1{
    height: auto;
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texto1 .btn-vermelho{
    margin: 0 auto;
}

.texto1 h2{
    font-family: "Russo One", sans-serif;
    font-size: 48px;
    color: #fa4516;
}

.texto1 h3{
    font-size: 32px;
    font-weight: 400;
    font-family: "Saira", sans-serif;
}

/**Quadro 2**/
.quadro2{
    background-color: black;
    color:#c2c2c2;
    padding: 20px 0 80px 0;
}

.texto2{
    padding: 20px 0;
}

.texto2 h2{
    color: #fa4516;
    font-family: "Russo One", sans-serif;
    font-size: 48px;
    padding: 20px 0;
}

.texto2 h3{
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-size: 32px;
    padding: 20px 0;
}

.modalidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.mod{
    width: 100%;
    height: auto;
    border: 4px solid #FA4516;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 10px;
    justify-content: space-between;
}

.mod img{
    width: 100%;
    height: auto;
    display: flex;
}

.mod h2{
    font-family: "Russo One", sans-serif;
    font-size: 40px;
    color: #fa4516;
    padding: 20px 0;
}

.mod h4{
    font-size: 24px;
    font-family: "Saira", sans-serif;
    font-weight: 400;
    text-align: justify;
    padding: 30px 0;
}

.mod .btn-vermelho{
    width: 284px;
    height: 65px;
    font-size: 24px;
    display: flex;
    margin: 0 auto;
}

.classificacoes{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.icon p{
    font-family: "Saira", sans-serif;
    font-size: 20px;
    text-align: center;
    width: 83px;
    height: 44px;
}

/**Quadro 3**/
.quadro3{
    color:#c2c2c2;
    padding: 20px 0 80px 0;
    width: 100%;
    height: auto;
}

.historia{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.texto3{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.texto3 h2{
    color: #fa4516;
    font-size: 48px;
    font-family: "Russo One", sans-serif;
}

.texto3 span{
    font-size: 64px;
}

.texto3 h3{
    font-size: 32px;
    color: black;
    font-family: "Saira", sans-serif;
    font-weight: 400;
    text-align: justify;
    padding: 30px 0 30px 30px;
}

.rafael{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.historia img{
    max-width: 490px;
    max-height: 465px;
}

.historia p{
    font-size: 24px;
    color: black;
    font-family: "Saira", sans-serif;
    font-weight: 400;
}

/**Quadro 4**/
.quadro4{
    background-color: black;
    color: #c2c2c2;
    padding: 20px 0 80px 0;
    width: 100%;
    height: auto;
}

.quadro4 h2{
    color: #fa4516;
    font-size: 48px;
    font-family: "Russo One", sans-serif;
    padding: 30px 0 50px 0;
}

.quadro4 span{
    font-size: 64px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.quadro4 p{
    color: #c2c2c2;
    font-size: 24px;
    font-family: "Saira", sans-serif;
    font-weight: 400;
}

/**rodape**/
footer{
    background-color: black;
    color: #c2c2c2;
    padding: 30px 0 20px 0;
    font-family: "Saira", sans-serif;
    margin: 80px 0 0 0;
}

.parte1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

hr{
    margin: 30px 0;
    width: 100%;
}

.parte2 h3{
    font-weight: 400;
    font-size: 40px;
}

.parte2 p{
    font-weight: 200;
    font-size: 32px;
}

.contatos{
    display: flex;
    flex-direction: row;
}

.redes-sociais{
    margin: 10px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    flex-wrap: wrap;
}

.redes-sociais a{
    color:#c2c2c2;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.todos-os-contatos{
    margin: 30px 0 40px 60px;
}

.parte3{
    display: flex;
    flex-direction: row;
    gap:5%;
    justify-content: center;
    font-weight: 300;
}


/** SEGUNDA PÁGINA **/

/**cabeçalho**/

.pag-de-planos{
    background-color: black;
}

/**Quadro 5**/
.quadro5{
    background-color: black;
    padding: 10px;
}

.quadro5 .informacoes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0;
}

.informacoes img{
    width: 644px;
    height: 436px;
    margin: 10px 20px 10px 0;
}

.quadro5 .divisao{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    width: 100%;
}

.quadro5 .texto5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.promocao h3{
    color: #fa4516;
    margin: 0 10px;
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.promocao span{
    font-family: "Russo One", sans-serif;
    font-size: 64px;
}

.promocao p{
    margin-left: 10%;
    text-align: left;
}

.endereco{
    border: 4px solid #fa4516;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
}

.horario{
    border: 4px solid #fa4516;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
}

#localizacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

#localizacao > img{
    width: 40px;
    height: 40px;
}

#horario{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 2px;
}

#horario > img{
    width: 40px;
    height: 40px;
}

.endereco h3{
    font-family: "Russo One", sans-serif;
    color: #fa4516;
    font-size: 32px;
}

.endereco p{
    color: #fa4516;
    font-family: "Saira", sans-serif;
    font-weight: 300;
    font-size: 32px;
}

.horario h3{
    font-family: "Russo One", sans-serif;
    color: #fa4516;
    font-size: 32px;
}

.horario p{
    color: #fa4516;
    font-family: "Saira", sans-serif;
    font-weight: 300;
    font-size: 32px;
}

/**Quadro 6**/
.quadro6{
    margin: 40px 0;
}

.quadro6 h2{
    font-family: "Russo One", sans-serif;
    color: #000000;
    font-size: 48px;
    text-align: center;
}

.quadro6 span{
    color: #fa4516;
}

.quadro6 h3{
    font-family: "Saira", sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    text-align: center;
    margin: 30px 0;
}

.planos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
}

/**plano 1**/
.plano-red h2{
    font-family: "Russo One", sans-serif;
    color: #000000;
    font-size: 48px;
    text-align: center;
    margin-bottom: 3%;
}

.vantagens{
    display: flex;
    flex-direction: row;
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-size: 32px;
    align-items: center;
    justify-content: flex-start;
}

.vantagens p{
    font-weight: 500;
}

.preco p{
    font-family: "Saira", sans-serif;
    font-weight: 200;
    font-size: 32px;
    text-align: center;
    color: #000000;
}

.preco span{
    font-family: "Russo One", sans-serif;
    color: #000000;
    font-size: 48px;
}

.vantagens img{
    width: 40px;
    height: 40px;
}

.plano-red{
    border: 7px solid #fa4516;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 848px;
    max-width: 460px;
}

/**Plano 2**/
.plano-black .vantagens{
    display: flex;
    flex-direction: row;
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-size: 32px;
    align-items: center;
    justify-content: flex-start;
    color:#c2c2c2
}

.vantagens p{
    font-weight: 500;
}

.preco-black p{
    font-family: "Saira", sans-serif;
    font-weight: 200;
    font-size: 32px;
    text-align: center;
    color:#c2c2c2
}

.preco-black s{
    font-family: "Saira", sans-serif;
    font-weight: 200;
    font-size: 32px;
    text-align: center;
    color: #c2c2c2;
}

.preco-black span{
    font-family: "Russo One", sans-serif;
    color: #c2c2c2;
    font-size: 48px;
}

.vantagens img{
    width: 40px;
    height: 40px;
}

.plano-black{
    border: 7px solid #fa4516;
    background-color: #000000;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 880px;
    gap: 20px;
    max-width: 460px;
}

.plano-black h2{
    font-family: "Russo One", sans-serif;
    color: #c2c2c2;
    font-size: 48px;
    margin-bottom: 3%;
}

/**Plano 3**/
.plano-premium h2{
    font-family: "Russo One", sans-serif;
    color: #000000;
    font-size: 48px;
    text-align: center;
    margin-bottom: 3%;
}

.vantagens{
    display: flex;
    flex-direction: row;
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-size: 32px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.vantagens p{
    font-weight: 500;
}

.preco p{
    font-family: "Saira", sans-serif;
    font-weight: 200;
    font-size: 32px;
    text-align: center;
    color: #000000;
}

.preco span{
    font-family: "Russo One", sans-serif;
    color: #000000;
    font-size: 48px;
}

.vantagens img{
    width: 40px;
    height: 40px;
}

.plano-premium{
    border: 7px solid #FA4516;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 848px;
    max-width: 460px;
}

/**Quadro 7**/
.quadro7{
    margin: 20px 0;
}

.quadro7 h2{
    font-family: "Russo One", sans-serif;
    color: #fa4516;
    font-size: 64px;
    text-align: right;
    margin: 60px 0;
}

.depoimentos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 45px;
}

.depoimento{
    border: 5px solid #fa4516;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.relato{
    display: flex;
    flex-direction: column;
}

.relato h3{
    font-family: "Saira", sans-serif;
    color: #000000;
    font-size: 32px;
}

.relato p{
    font-family: "Saira", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 27px;
}

.depoimento img{
    width: 106px;
    height: 106px;
}

.relato img{
    width: 153px;
    height: 45px;
}
